// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

h1 {
    font-size: 64px !important;
    font-family: Arial !important;
    color: orange;
    text-shadow: 0 10px 10px rgba(0,0,0,0.1);
}

h3 {
    font-size: 34px !important;
    font-family: Arial !important;
    color: grey;
    text-shadow: 0 10px 10px rgba(0,0,0,0.1);
}