// Specific CSS for your home-page
.container-home {
    text-align: center;
    padding: 50px;
}

.blurb-container {
    padding: 20px;
}

.blurb-home {
    width: 250px;
}

.blurb-image {
    border-radius: 50%;
    width: 200px;
}

.blurb-heading {
    padding: 10px 10px;
}