<div class="footer-container">
    <div class="flex space-around">
        <div class="footer-column">
            <h2>Heading</h2>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                molestiae quas vel sint com</p>
        </div>
        <div class="footer-column">
            <h2>Heading</h2>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                molestiae quas vel sint com</p>
        </div>
        <div class="footer-column">
            <h2>Heading</h2>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                molestiae quas vel sint com</p>
        </div>
        <div class="footer-column">
            <h2>Heading</h2>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                molestiae quas vel sint com</p>
        </div>
    </div>
</div>