<div class="footer-container">
    <div class="flex space-around">
        <div class="footer-column">
            <h2>Address</h2>
            <p> Lausanne, Switzerland</p>
        </div>
        <div class="footer-column">
            <h2>Details</h2>
            <p> hello@anythinggoes.com</p>
        </div>
        <div class="footer-column">
            <h2>Partners</h2>
            <p> Le Wagon</p>
        </div>
        <div class="footer-column">
            <h2>Connect with us</h2>
            <div class="flex">
                <div>
                    <i class="fab fa-twitter"></i>
                </div>
                <div>
                    <i class="fab fa-facebook"></i>
                </div>
            </div>
        </div>
    </div>
</div>