
<div class="hero-header">
    <div class="hero-image-container">
        <%= image_tag "hero-header-image.jpg", class: "hero-image" %>
    </div>
    <div class="hero-text-container">
        <h1>Anything Goes</h1>
        <h3>Need a job done? Find your perfect candidate today!</h3>
    </div>
</div>