.hero-header {
    position:relative;
    // height: 100vh;
    max-height: 500px;
    // margin: 20px auto;
}

.hero-text-container {
    padding-top: 250px;
    text-align: center;
}

.hero-image-container {
    position: absolute;
    z-index: -1;
}

.hero-image {
    width: 100%; 
    height: 100vh; 
    object-fit: cover;
}