.hero-header {
    position:relative;
    // height: 100vh;
    height: 600px;
    // margin: 20px auto;
}

.hero-text-container {
    padding-top: 250px;
    text-align: center;
}

.hero-image-container {
    position: absolute;
    z-index: -1;
}

.hero-image {
    width: 100%; 
    height: 600px; 
    object-fit: cover;
    // position: fixed;
}

.red {
    background: rgba(0,0,0,0.1);
}